@import "_variables.scss";

body {
	font-family: "sofia-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
	max-width: 60rem;
	margin: 0 auto;
	text-rendering: optimizeLegibility;
	text-align: center;
	@media (min-width: $breakpoint-mid) {
		text-align: left;
	}
	h1 {
		font-family: "sofia-pro",sans-serif;
		font-style: normal;
		font-weight: 700;
		padding-bottom: 0;
		margin: 3.8rem 0 0 0;
		@media (min-width: $breakpoint-mid) {
			font-size: 2.4rem;
		}
	}
	h2 {
		font-family: "sofia-pro",sans-serif;
		font-style: normal;
		font-weight: 400;
		margin: 0;
	}
	header {
		width: 100%;
	}
	main {
		margin: 4rem 0;
		overflow: hidden;
		div {
			margin: 0 auto;
			margin-bottom: 2rem;
			max-width: 320px;
			min-height: 18rem;
			@media (min-width: $breakpoint-mid) {
				width: 30%;
				margin-right: 5%;
				float: left;
				&:nth-child(3n+3) {
					margin-right: 0;
				}
			}
			img {
				max-width: 100%;
				@media (min-width: 340px) {
					border-radius: 0.2rem;
				}
			}
			p {
				padding: 0 1rem;
				@media (min-width: $breakpoint-mid) {
					padding: 0;
				}
			}
			* {
			}
		}
	}
	footer {
		width: 100%;
		margin: 2rem 0 8rem 0;
		@media (min-width: $breakpoint-mid) {
			margin: 4rem 0 12rem 0;
		}
	}
}